{{- define "main" -}}

<article class="article project-article">

  {{- partial "page_header" . -}}

  <div class="article-container">

    {{ if .Params.authors }}
    <div class="project-page-authors">
    {{ range $i, $a := .Params.authors }}
        {{ $isMap := reflect.IsMap $a }}
        {{ $name := cond $isMap ($a.name) $a }}
        <span class="author-chip">
        {{ if $isMap }}{{ with $a.url }}<a href="{{ . }}" target="_blank" rel="noopener noreferrer">{{ end }}{{ end }}
        {{ if and $isMap $a.bold }}<strong>{{ end }}
        {{ $name }}
        {{ if $isMap }}{{ with $a.sup }}<sup>{{ . }}</sup>{{ end }}{{ end }}
        {{ if and $isMap $a.bold }}</strong>{{ end }}
        {{ if $isMap }}{{ with $a.url }}</a>{{ end }}{{ end }}
        </span>
    {{ end }}
    </div>
    {{ end }}


    <div class="article-style">
      {{ .Content }}
    </div>

    {{- partial "page_footer" . -}}

  </div>
</article>

{{- end -}}
