@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google-sans/ProductSans-BoldItalic.woff") format("woff");
}
